In [2]:
import pandas as pd
import os

In [3]:
#Dataset Sentiment140
# datasets links (http://help.sentiment140.com/for-students/)

cols = ["sentiments","id","data", "query_string", "user", "text"]
bas_dir = ""
data = pd.read_csv(os.path.join(bas_dir, "tweets_data/train.csv"),header = None, encoding = "latin-1", names= cols)

In [4]:
data.head()

,sentiments,id,data,query_string,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   sentiments    1600000 non-null  int64
 1   id            1600000 non-null  int64
 2   data          1600000 non-null  object
 3   query_string  1600000 non-null  object
 4   user          1600000 non-null  object
 5   text          1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [6]:
import re
from gensim.parsing.preprocessing import remove_stopwords
import string
import unicodedata

def lower_case(text):
    return text.lower()

def remove_punctuation(text):
    text_list = [char for char in text if char not in string.punctuation]
    clean_text = "".join(text_list)
    return clean_text

def remove_numbers(text):
    text_list = []
    for i in text:
        if not re.search("\d", i):
            text_list.append(i)
    return "".join(text_list)

def remove_special_char(text):
    pat =  r'[^a-zA-z0-9]' 
    return re.sub(pat, " ", text)

def remove_unicode_char(text):
    new_text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return new_text

def hastage(text):
    hash_text = re.findall(r"#(\w+)", text)
    
    return hash_text

def remove_user(text):
    clean_text = re.sub('(@[A-Za-z]+[A-Za-z0-9-_]+)', '', text)
    
    return clean_text

def remove_links(text):
    clean_text = re.sub(r'http\S+', '', text)
    clean_text = re.sub(r'bit.ly/\S+', '', text)
    clean_text = clean_text.strip('[link]')
    
    return clean_text

def remove_html(text):
    html = re.compile('<.*?>')
    
    return html.sub(r'',text)

def remove_email(text):
    email = re.compile(r'[\w\.-]+@[\w\.-]+')
    return email.sub(r'',text)

def remove_stopwords_from_text(text):
    
    clean_text = remove_stopwords(text)
    
    return clean_text

In [7]:
data["clean_tweets"] = data.text.apply(lower_case)

In [8]:
data["clean_tweets"] = data["clean_tweets"].apply(remove_punctuation)

In [9]:
data["clean_tweets"] = data["clean_tweets"].apply(remove_numbers)

In [10]:
data["clean_tweets"] = data["clean_tweets"].apply(remove_special_char)

In [11]:
data["clean_tweets"] = data["clean_tweets"].apply(remove_unicode_char)

In [12]:
data["clean_tweets"] = data["clean_tweets"].apply(remove_user)

In [13]:
data["clean_tweets"] = data["clean_tweets"].apply(remove_links)

In [14]:
data["clean_tweets"] = data["clean_tweets"].apply(remove_html)

In [15]:
data["clean_tweets"] = data["clean_tweets"].apply(remove_email)

In [16]:
data["clean_tweets"] = data["clean_tweets"].apply(remove_stopwords_from_text)

In [17]:
data.head()

,sentiments,id,data,query_string,user,text,clean_tweets
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",switchfoot httptwitpiccomyzl awww thats bummer...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,s upset update facebook texting result school ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,enichan dived times ball managed save rest bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,body feels itchy like
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",ationwideclass behaving im mad

In [18]:
tweets = data["clean_tweets"]

tweets

0          switchfoot httptwitpiccomyzl awww thats bummer...
1          s upset update facebook texting result school ...
2          enichan dived times ball managed save rest bounds
3                                      body feels itchy like
4                             ationwideclass behaving im mad
                                 ...
1599995                      woke having school best feeling
1599996    thewdbcom cool hear old walt interviews httpbl...
1599997                      ready mojo makeover ask details
1599998    happy th birthday boo alll time tupac amaru sh...
1599999    happy charitytuesday thenspcc sparkscharity sp...
Name: clean_tweets, Length: 1600000, dtype: object

In [19]:
sentiments = data["sentiments"].values

sentiments[sentiments == 4] = 1

In [20]:
sentiments,sentiments.shape

(array([0, 0, 0, ..., 1, 1, 1], dtype=int64), (1600000,))

In [21]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(tweets, sentiments, test_size= .20, random_state= 42)

In [22]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((1280000,), (320000,), (1280000,), (320000,))

In [23]:
x_train

1374558    jbtaylor ya quotid like palm pre touchstone ch...
1389115                  felt earthquake afternoon epicenter
1137831                            ruffles shirts like likey
790714     pretty bad night crappy morningfml buttface di...
1117911                          dcbriccetti yeah clear view
                                 ...
259178          songs middle change doesnt want born arghhhh
1414414                             officialnjonas good luck
131932                               proudgamertweet average
671155     pickin misstinayao waitin sadittysash hurry up...
121958          home studying maths wooot im going fail shit
Name: clean_tweets, Length: 1280000, dtype: object

In [26]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier

In [27]:
naive_model = Pipeline([
    ("tf-idf",TfidfVectorizer(max_features= 1000, lowercase= True)),
    ("random_forest", RandomForestClassifier(n_estimators= 20))
])

In [28]:
naive_model.fit(x_train, y_train)

Pipeline(steps=[('tf-idf', TfidfVectorizer(max_features=1000)),
                ('random_forest', RandomForestClassifier(n_estimators=20))])

In [35]:
from sklearn.metrics import accuracy_score, precision_recall_fscore_support

def calculate_result(y_test_val, predicted_y):
    accuracy = accuracy_score(y_test_val,predicted_y) * 100
    precision, recall, f_score, _ = precision_recall_fscore_support(y_test_val, predicted_y, average = "weighted")
    
    result = {
        "Accuracy Score" : accuracy,
        "Precision" : precision,
        "Recall" : recall,
        "F-score" : f_score
    }
    return result

In [30]:
y_predict = naive_model.predict(x_test)

In [31]:
naive_model.score(x_test,y_test) * 100

73.0053125

In [37]:
result = calculate_result(y_test, y_predict)

print(result)

{'Accuracy Score': 73.0053125, 'Precision': 0.7303439760427439, 'Recall': 0.730053125, 'F-score': 0.7299425388689335}